/* Resetting default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #eddfee;
  padding: 20px;
}

/* Paragraph styles */
p {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}
