/* Resetting default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #eddfee;
  padding: 20px;
}

/* Form container styles */
form {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Label styles */
label {
  display: block;
  margin-bottom: 5px;
}

/* Input styles */
input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 50px;
}

/* Submit button styles */
input[type="submit"] {
  width: calc(100% - 20px);
  padding: 10px;
  background-color: #800080;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #d200d2;
}
